/* css == !center(div) */

body { /* background of the page, will fallback to black if image cannot be loaded */
    background: black url(/src/brodo_satoru.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60% 43%;
    
    align-items: center;
}

.title {
    padding-top: 7%;

    color: white;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

#title_head {
    font-size: clamp(32px, 10vw, 128px);
    text-wrap: nowrap;
}

#title_description {
    font-size: clamp(8px, 2.5vw, 32px);
    padding-left: 7%;
    padding-right: 7%;
}

/* -------------------------------------------------------- */

.buttons {
    padding-top: 10%;
}

.column p {
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
}

.column img {
    width: 20%;
}