/* ------------------------------------------- */

#sidebar_container {
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-color: #c4c4c4;
    position: fixed;
    overflow: hidden;
  }
  
  .sidebar_logo {
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
  }
  
  .sidebar_logo:hover {
    cursor: pointer;
  }
  
  #info_container {
    display: grid;
    place-items: center;
    margin: 50px;
  }
  
  /* ------------------------------------------- */
  
  .text {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: center;
    margin-top: 20px;
  }
  
  #sidebar_name {
    font-size: 50px;
    font-weight: 300;
  }
  
  #sidebar_desc1 {
    font-size: 30px;
  }
  
  #sidebar_desc2 {
    font-size: 20px;
  }
  #photo {
    width: 200px;
    border-radius: 50%;
  }
  
  /* ------------------------------------------- */
  
  #sidebar_buttons_container {
    height: 100%;
    width: 100%;
    left: 100px;
  }
  
  .sidebar_button,
  .sidebar_button *,
  .sidebar_button :after,
  .sidebar_button :before,
  .sidebar_button:after,
  .sidebar_button:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  .sidebar_button {
    -webkit-tap-highlight-color: 
  transparent;
    -webkit-appearance: button;
    background-color: 
  #000;
    background-image: none;
    color: 
  #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
  }
  .sidebar_button:disabled {
    cursor: default;
  }
  .sidebar_button:-moz-focusring {
    outline: auto;
  }
  .sidebar_button svg {
    display: block;
    vertical-align: middle;
  }
  .sidebar_button [hidden] {
    display: none;
  }
  .sidebar_button {
    --height: 80px;
    background: none;
    border-radius: 999px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: var(--height);
    -webkit-mask-image: none;
    padding: 0 3rem;
    position: relative;
    text-transform: uppercase;
  }
  .sidebar_button span {
    font-weight: 900;
    mix-blend-mode: difference;
  }
  .sidebar_button:before {
    background: 
  #fff;
    border-radius: 20px;
    content: "";
    height: calc(var(--height) / 1.7);
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    width: calc(var(--height) / 1.7);
  }
  .sidebar_button:hover:before {
    left: 0;
    width: 100%;
  }
  
  /* ------------------------------------------- */