body { /* background of the page, will fallback to black if image cannot be loaded */
    background: black url(/page/src/brodo_satoru.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60% 43%;
    
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 7%;
    padding-right: 7%;
}

#title_head {
    font-size: clamp(32px, 10vw, 128px);
}

#title_description {
    font-size: clamp(16px, 3vw, 64px);
}